<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{name}}</title>
  </head>
  <body>
    <header></header>
   <main>
  <div class="article-intro">
  <div>
    <div>
      <h1>{{article.title}}</h1>
      {{#article.seoDescription}}
      <p>{{article.seoDescription}}</p>
      {{/article.seoDescription}}
      {{#article.topicLabel}}
      <p>Topic: {{article.topicLabel}}</p>
      {{/article.topicLabel}}
    </div>
  </div>
</div>
  <div class="article-layout">
    <div class="article-main">
      {{#article.segments}}
      <div class="article-segment">
        {{#isHtml}}
        {{{html}}}
        {{/isHtml}}

        {{#isVideo}}
        <p><a href="{{url}}">{{url}}</a></p>
        {{/isVideo}}
      </div>
      {{/article.segments}}
    </div>

    {{#hasRelatedContent}}
    <aside class="article-sidebar">
      <h2>Related content</h2>
      <ul>
        {{#relatedContent}}
        <li><a href="{{url}}">{{title}}</a></li>
        {{/relatedContent}}
      </ul>
    </aside>
    {{/hasRelatedContent}}
  </div>
</main>
    <footer></footer>
  </body>
</html>