<main>
  <div>
    <h1>{{article.title}}</h1>
    {{#article.seoDescription}}
    <p>{{article.seoDescription}}</p>
    {{/article.seoDescription}}
    {{#article.topicLabel}}
    <p>Topic: {{article.topicLabel}}</p>
    {{/article.topicLabel}}
  </div>

  <div>
    {{{article.body}}}

    {{#article.hasVideoEmbed}}
    <div class="embed">
      <div>
        <a href="{{article.videoEmbedUrl}}">{{article.videoEmbedUrl}}</a>
      </div>
    </div>
    {{/article.hasVideoEmbed}}
  </div>

  {{#hasRelatedContent}}
  <div>
    <h2>Related content</h2>
    <ul>
      {{#relatedContent}}
      <li><a href="{{url}}">{{title}}</a></li>
      {{/relatedContent}}
    </ul>
  </div>
  {{/hasRelatedContent}}
</main>