<main>
    <div>
        <h1>{{article.title}}</h1>
    </div>
    {{#article.segments}}
    <div>
        {{#isHtml}}
        {{{html}}}
        {{/isHtml}}
        {{#isVideo}}
        <p><a href="{{url}}">{{url}}</a></p>
        {{/isVideo}}
    </div>
    {{/article.segments}}
    {{#hasRelatedContent}}
    <div>
        <h2>Related content</h2>
        <ul>
            {{#relatedContent}}
            <li><a href="{{url}}">{{title}}</a></li>
            {{/relatedContent}}
        </ul>
    </div>
    {{/hasRelatedContent}}
</main>